name: Container Build

on:
  workflow_call:
    inputs:
      image-name:
        description: "Container image name"
        required: true
        type: string
      dockerfile:
        description: "Path to Dockerfile"
        required: false
        default: Dockerfile
        type: string

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          tags: ${{ inputs.image-name }}:ci
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
