name: Container Scan

on:
  workflow_call:
    inputs:
      image-name:
        description: "Image to scan"
        required: true
        type: string

permissions:
  contents: read
  security-events: write

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@v0.20.0
        with:
          image-ref: ${{ inputs.image-name }}
          format: sarif
          output: trivy-image.sarif
          severity: CRITICAL,HIGH
          exit-code: 0

      - name: Upload scan results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-image.sarif
