name: Artifact Signing

on:
  workflow_call:
    inputs:
      artifact-path:
        description: "Path to artifact to sign"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  sign:
    runs-on: ubuntu-latest

    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Sign artifact
        run: |
          cosign sign-blob \
            --yes \
            ${{ inputs.artifact-path }}
