name: PR Checks

on:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  pr-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        with:
          requireScope: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Validate commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.js
